page-notas {
    .notas {
        width: 100%;
    }
    .notas th {
        padding: 20px;
        font-size: 16px;
        background: #ccc;
    }
    .notas td {
        padding: 20px;
        font-size: 16px;
    }
}
